body, #root, .App, .ant-layout {
  height: 100%;
}

.header{
  background-color: rgb(40, 44, 52);
  /* position: 'fixed';
  z-index: 1;
  width: '100%'; */
}

.side{
  padding: 10px;
}

.logo {
  height: 31px;
  float: left;
  color: #fff;
  font-size: 20px;
  vertical-align: middle;
}

.filters-container{
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}

.floorplan-row{
  height: 100%;
}

@media (min-width:320px)  {
  .floorplan-row{
    height: 400px;
  }

}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { 
  .floorplan-row{
    height: 100%;
  }
 }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }